<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134924945513-h0vnbfnf57i1ppbfmrriih251kqfej0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134924945513-h0vnbfnf57i1ppbfmrriih251kqfej0q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>134924945513-egpf4ln2tglbfe88531nbkebs8ga7gmf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWSgDjSaBQKJUznawiw9gIzGmUCeMXzW4</string>
	<key>GCM_SENDER_ID</key>
	<string>134924945513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sk8shop</string>
	<key>PROJECT_ID</key>
	<string>sk8shop-969a4</string>
	<key>STORAGE_BUCKET</key>
	<string>sk8shop-969a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134924945513:ios:c3638112c927175ac07af8</string>
</dict>
</plist>